/*

!.gitignore

!/lua-app-example/main.lua

!/macos-example

!/work-dir
/work-dir/**
!/work-dir/*.sh
!/work-dir/*.cmd
!/work-dir/*.bat
!/work-dir/*.ps1

!/windows-example
/windows-example/**
!/windows-example/wxLuaLauncher
!/windows-example/*.cmd
